<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Client" packages="">
    <Appenders>
        <File name="ClientLogFile" fileName="logs/client.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="Async">
            <AppenderRef ref="ClientLogFile"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>